html,
body {
    margin: 0;
    padding: 0;
    background-color: #b3b7fd40;
    background-attachment: fixed;
    width: 100%;
    color: #060b28;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-header-container a {
    text-decoration: none !important;
}

.logo {
    width: 60px;
    height: fit-content;
    margin-left: 15px;
    filter: brightness(100%) saturate(200%);
}

h1 {
    display: flex;
    justify-content: center;
    color: #2b052aeb;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 15px;
}

.navbar-header-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(76, 20, 91, 0.22);
    background-color: #d2a6f0;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: fit-content;
}

.navbar-container a {
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #51ffceba;
    font-weight: bold;
    color: black;
    margin: 15px 25px 15px;
    transition: all 0.3s ease-out;
}

.navbar-container a:hover {
    background-color: #09d7a7e0;
}

.navbar-container a:focus {
    background-color: #09d79cba;
}

/* ARTICLES  */

.article-list-loading {
    font-weight: bold;
    font-size: 1.2rem;
    height: 100vh;
    margin-top: 15%;
    background-color: none;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px 0 50px 0;
    padding: 0;
    width: 90%;
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article-card:hover {
    background-color: #b3b7fd75;
}

.article-card a {
    text-decoration: inherit;
    color: inherit;
}

.article-header {
    display: flex;
}

.article-header img {
    width: 30px;
    height: fit-content;
    align-self: center;
    margin-right: 7px;
}

.topic {
    text-transform: capitalize;
}

.article-body {
    display: flex;
    flex-direction: column;
}

.article-image-container {
    display: flex;
    width: 100%;
}

.article-image {
    max-width: 500px;
    align-self: center;
    border-radius: 8px;
    width: 100%;

    min-height: 333.5px;
    object-fit: cover;
}

.article-title {
    max-width: 500px;
    line-height: 1.5rem;
    margin-bottom: 7px;
    overflow-y: auto;
    min-height: 50px;
}

.article-body div {
    line-height: 0.7rem;
}

.article-body p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0;
}

.article-body span {
    font-weight: bold;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.article-footer span {
    font-weight: bold;
}

.article-footer span {
    font-weight: bold;
}

/* SINGLE ARTICLE */

.single-article-loading {
    font-weight: bold;
    font-size: 1.2rem;
    height: 100vh;
    margin-top: 15%;
    background-color: none;
}

.article-container {
    width: 80%;
    max-width: 1200px;
    margin-bottom: 50px;
}

.single-article {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.single-article h2 {
    text-align: center;
    margin: 40px 0 20px;
}

.article-topic {
    text-transform: capitalize;
    font-style: italic;
    font-size: 0.78rem;
    margin-top: 0;
    text-align: center;
}

.article-topic span {
    font-style: normal;
    font-weight: bold;
}

.article-author-date {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.article-author-date span {
    font-weight: 550;
    font-style: normal;
}

.article-text {
    line-height: 1.6rem;
    margin-top: 25px;
}

.single-article img {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 35px 0 23px 0;
}

.comments-votes-container {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.comments-votes-container span {
    font-weight: normal;
}

.votes {
    margin-left: 15px;
}

.vote-buttons-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px;
}

.like-btn,
.dislike-btn {
    margin: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 10%;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.like-btn img,
.dislike-btn img {
    width: 3rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    filter: brightness(97%) saturate(160%);
}

.like-btn:hover,
.dislike-btn:hover {
    transform: scale(1.2);
}

.like-btn:disabled {
    border: none;
    filter: brightness(100%) saturate(0%);
    pointer-events: none;
}

.dislike-btn:disabled {
    border: none;
    filter: brightness(230%) saturate(0%);
    pointer-events: none;
}

.vote-error-msg {
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    color: #c40707;
}

/* COMMENTS */

.comments-list-loading {
    font-weight: bold;
    font-size: 1rem;
    height: 50vh;
    background-color: none;
    text-align: center;
}

.single-comment-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.single-comment-card span {
    font-weight: bold;
}

.comment-author-date {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.comment-text {
    line-height: 1.4rem;
    overflow-wrap: break-word;
}

.comment-votes {
    margin: 0;
    font-size: 0.8rem;
}

.no-comments-msg {
    font-weight: bold;
    font-size: 1rem;
    height: 50vh;
    text-align: center;
    margin-top: 50px;
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.comment-adder-form label {
    font-weight: bold;
    padding: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.chars-left {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85rem;
}

.comment-adder-form {
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 5px;
    border: 1px solid #0000003d;
}

.add-button-container {
    display: flex;
    justify-content: center;
}

.add-button-container button {
    padding: 10px;
    font-weight: bold;
    background-color: #a0ecba;
    border-radius: 8px;
    border: 1px solid #33dd76;
    margin: 17px 0 5px;
    font-size: 0.97rem;
    transition: all 0.3s ease-out;
}

.add-button-container button:hover {
    background-color: #33dd76;
    color: white;
}

.add-comment-btn:disabled {
    border: none;
    filter: brightness(1) saturate(0%);
    pointer-events: none;
    border: 1px solid #0000003d;
}

.post-comment-error-msg {
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    color: #c40707;
    margin: 15px 0 5px;
}

.comment-length-error {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85rem;
    font-weight: normal;
    color: #c40707;
    margin: 0;
}

/* TOPICS */

.topics-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 60px 0 50px 0;
    padding: 0;
    min-width: 200px;
    margin: 60px 50px 50px 50px;
    width: 80%;
    max-width: 800px;
}

.topics-container li {
    list-style-type: none;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.topics-container li:hover {
    background-color: #b3b7fd75;
}

.topics-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

.topic-img {
    width: 50px;
}

.topic-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.topic-info {
    margin-left: 15px;
}

/* SORT BUTTONS */

.sort-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.sort-buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 18px 0 20px;
    width: 100%;
    max-width: 557px;
    min-width: 350px;
    align-self: center;
}

.sort-btn {
    margin: 15px;
    padding: 10px;
    background-color: #c2e3ff;
    border-radius: 8px;
    border: 1px solid #5db3ff;
    color: #10102b;
    font-weight: bold;
    width: 30%;
    font-size: 1rem;
    transition: all 0.5s ease-out;
}

.sort-btn:hover {
    background-color: #7ac1ff;
}

.sort-btn:focus {
    background-color: #7ac1ff;
}

.sort-error-msg {
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 30px;
    text-align: center;
    color: #c40707;
}

/* LOGGED IN AS  */

.logged-in-as {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
}

.logged-in-text {
    margin-left: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.logged-in-text span {
    font-weight: bold;
}

.logged-img {
    width: 2.3rem;
    object-fit: contain;
}

/* DELETE */

.single-comment-header {
    display: flex;
    justify-content: space-between;
}
.delete-btn-container {
    max-width: 600px;
    align-self: center;
}

.delete-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.delete-btn img {
    width: 2.5rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    filter: brightness(100%) saturate(300%);
}

.delete-btn:hover {
    transform: scale(1.2);
}

.delete-comment-error-msg {
    font-weight: bold;
    font-size: 0.95rem;
    align-self: center;
    margin: 5px 0 5px;
    text-align: center;
    color: #c40707;
}

.successfully-deleted {
    font-weight: bold;
    font-size: 0.95rem;
    align-self: center;
    margin: 15px 0 15px;
    text-align: center;
    color: #289548;
}

/* ERROR COMPONENT */

.error-container {
    display: flex;
    flex-direction: column;
    color: #f70505;
    height: 100vh;
    width: 90%;
    margin-top: 100px;
    text-align: center;
}

.error-status {
    font-size: 3rem;
    font-weight: bold;
}

.error-text {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.9rem;
}

.waring-img {
    width: 3rem;
    filter: brightness(100%) saturate(500%);
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.footer-text {
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-text span {
    padding: 0;
    margin: 0;
}

.dot-image {
    width: 2rem;
}

/* HAMBURGER MENU */

.hamburger-container {
    display: none;
    flex-direction: column;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    justify-content: space-around;
    margin-right: 20px;
}

.hamburger-links a {
    text-align: center;
    padding-top: 40px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 100%;
}

.hamburger-links.active {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    background-color: #d2a6f0;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #0000003b;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.hamburger-links.closed {
    display: none;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.burger1.opened {
    transform: rotate(43deg);
}
.burger2.opened {
    opacity: 0;
}
.burger3.opened {
    transform: rotate(-42deg);
}

.burger1.closed {
    transform: rotate(0);
}
.burger2.closed {
    opacity: 1;
}
.burger3.closed {
    transform: rotate(0);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .hamburger-container {
        display: flex;
        z-index: 12;
    }

    .navbar-container {
        display: none;
    }
}
