html,
body {
    margin: 0;
    padding: 0;
    background-color: #b3b7fd40;
    background-attachment: fixed;
    width: 100%;
    color: #060b28;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    width: 12%;
}

h1 {
    display: flex;
    justify-content: center;
    color: #2b052aeb;
    width: 100%;
    font-size: 18px;
    margin-left: 15px;
}

.navbar-header-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(76, 20, 91, 0.22);
    background-color: #5800804f;
    align-items: center;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    min-width: fit-content;
}

.navbar-container a {
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #51ffceba;
    font-weight: bold;
    color: black;
    margin: 15px 25px 15px;
}

.navbar-container a:hover {
    background-color: #09d79cba;
}

/* ARTICLES  */

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px 0 50px 0;
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.articles-list img {
    width: 200px;
}

.article-list-item span {
    font-weight: bold;
}
