html,
body {
    margin: 0;
    padding: 0;
    background-color: #b3b7fd40;
    background-attachment: fixed;
    width: 100%;
    color: #060b28;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    width: 12%;
}

h1 {
    display: flex;
    justify-content: center;
    color: #2b052aeb;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 15px;
}

.navbar-header-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(76, 20, 91, 0.22);
    background-color: #5800804f;
    align-items: center;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    min-width: fit-content;
}

.navbar-container a {
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #51ffceba;
    font-weight: bold;
    color: black;
    margin: 15px 25px 15px;
}

.navbar-container a:hover {
    background-color: #09d79cba;
}

/* ARTICLES  */

.article-list-loading {
    font-weight: bold;
    font-size: 1.2rem;
    height: 100vh;
    margin-top: 15%;
    background-color: none;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px 0 50px 0;
    padding: 0;
    width: 90%;
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article-card:hover {
    background-color: #b3b7fd75;
}

.topic {
    text-transform: capitalize;
}

.article-body {
    display: flex;
    flex-direction: column;
}

.article-image {
    max-width: 500px;
    align-self: center;
    border-radius: 8px;
    width: 100%;
}

.article-title {
    max-width: 500px;
    line-height: 1.5rem;
    margin-bottom: 7px;
    overflow-y: auto;
    min-height: 50px;
}

.article-body div {
    line-height: 0.7rem;
}

.article-body p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0;
}

.article-body span {
    font-weight: bold;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.article-footer span {
    font-weight: bold;
}

.article-footer span {
    font-weight: bold;
}
.votes {
    margin-left: 15px;
}
