html,
body {
    margin: 0;
    padding: 0;
    background-color: #b3b7fd40;
    background-attachment: fixed;
    width: 100%;
    color: #060b28;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    width: 12%;
}

h1 {
    display: flex;
    justify-content: center;
    color: #2b052aeb;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 15px;
}

.navbar-header-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(76, 20, 91, 0.22);
    background-color: #5800804f;
    align-items: center;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    min-width: fit-content;
}

.navbar-container a {
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #51ffceba;
    font-weight: bold;
    color: black;
    margin: 15px 25px 15px;
}

.navbar-container a:hover {
    background-color: #09d79cba;
}

/* ARTICLES  */

.article-list-loading {
    font-weight: bold;
    font-size: 1.2rem;
    height: 100vh;
    margin-top: 15%;
    background-color: none;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px 0 50px 0;
    padding: 0;
    width: 90%;
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article-card:hover {
    background-color: #b3b7fd75;
}

.article-card a {
    text-decoration: inherit;
    color: inherit;
}

.topic {
    text-transform: capitalize;
}

.article-body {
    display: flex;
    flex-direction: column;
}

.article-image {
    max-width: 500px;
    align-self: center;
    border-radius: 8px;
    width: 100%;
}

.article-title {
    max-width: 500px;
    line-height: 1.5rem;
    margin-bottom: 7px;
    overflow-y: auto;
    min-height: 50px;
}

.article-body div {
    line-height: 0.7rem;
}

.article-body p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0;
}

.article-body span {
    font-weight: bold;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.article-footer span {
    font-weight: bold;
}

.article-footer span {
    font-weight: bold;
}

/* SINGLE ARTICLE */

.single-article-loading {
    font-weight: bold;
    font-size: 1.2rem;
    height: 100vh;
    margin-top: 15%;
    background-color: none;
}

.article-container {
    width: 80%;
    margin-bottom: 50px;
}

.single-article {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.single-article h2 {
    text-align: center;
    margin: 40px 0 20px;
}

.article-topic {
    text-transform: capitalize;
    font-style: italic;
    font-size: 0.78rem;
    margin-top: 0;
    text-align: center;
}

.article-topic span {
    font-style: normal;
    font-weight: bold;
}

.article-author-date {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.article-author-date span {
    font-weight: 550;
    font-style: normal;
}

.article-text {
    line-height: 1.5rem;
    margin-top: 25px;
}

.single-article img {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 35px 0 23px 0;
}

.comments-votes-container {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.comments-votes-container span {
    font-weight: normal;
}

.votes {
    margin-left: 15px;
}

.vote-buttons-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px;
}

.like-btn,
.dislike-btn {
    margin: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 15px;
    transition: all 0.2s ease-in-out;
}

.like-btn img,
.dislike-btn img {
    width: 3rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.like-btn:hover,
.dislike-btn:hover {
    transform: scale(1.1);
}

.like-btn:disabled {
    border: none;
    filter: brightness(1) saturate(0%);
    pointer-events: none;
}

.dislike-btn:disabled {
    border: none;
    filter: brightness(1.5) saturate(0%);
    pointer-events: none;
}

.vote-error-msg {
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    color: #c40707;
}

/* COMMENTS */

.comments-list-loading {
    font-weight: bold;
    font-size: 1rem;
    height: 50vh;
    background-color: none;
    text-align: center;
}

.single-comment-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.single-comment-card span {
    font-weight: bold;
}

.comment-author-date {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.comment-text {
    line-height: 1.4rem;
}

.comment-votes {
    margin: 0;
    font-size: 0.8rem;
}

.no-comments-msg {
    font-weight: bold;
    font-size: 1rem;
    height: 50vh;
    text-align: center;
    margin-top: 50px;
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.comment-adder-form label {
    font-weight: bold;
    padding: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.chars-left {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85rem;
}

.comment-adder-form {
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 5px;
    border: 1px solid #0000003d;
}

.add-button-container {
    display: flex;
    justify-content: center;
}

.add-button-container button {
    padding: 10px;
    font-weight: bold;
    background-color: #a0ecba;
    border-radius: 8px;
    border: 1px solid #62ce82;
    margin-top: 10px;
}

.add-button-container button:hover {
    background-color: #62ce82;
}

.new-comment-error-msg {
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    color: #c40707;
}

.add-comment-btn:disabled {
    border: none;
    filter: brightness(1) saturate(0%);
    pointer-events: none;
    border: 1px solid #0000003d;
}

/* TOPICS */

.topics-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 60px 0 50px 0;
    padding: 0;
    min-width: 200px;
    margin: 60px 50px 50px 50px;
    width: 80%;
    max-width: 800px;
}

.topics-container li {
    list-style-type: none;
    padding: 15px;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 0.9rem;
}

.topics-container li:hover {
    background-color: #b3b7fd75;
}

.topics-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

.topic-img {
    width: 50px;
}

.topic-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.topic-info {
    margin-left: 15px;
}
